body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

ul {
    list-style-type: none;
}

a {
    color:#e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

button {
    background-color: #3882f8;
    color: #e5e7eb;
    font-weight: bold;
}

.header,
.footer,
#block-one {
    background-color: #1f2937;
}

.footer {
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
}

#block-three {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quoter {
    color: #1f2937;
    font-weight: 700;
}

.call-to-action {
    background-color: #3882f8;
    color: #e5e7eb;
}